{% extends "layout/base.html" %}

{% block title %} Mes Contacts {% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Mes Contacts</h1>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card shadow-sm p-4">
                            {# {{ contacts | dump }} #}
                            <!-- Commentaire HTML -->
                            <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Tel</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                        <td>{{ contact.id }}</td>
                                        <td>{{ contact.prenom }}</td>
                                        <td>{{ contact.nom }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>{{ contact.tel }}</td>
                                        <td>
                                            <a class="btn btn-primary"
                                               href="/contact/{{ contact.id }}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a class="btn btn-danger"
                                               onclick="return confirm('Êtes-vous sûr ?')"
                                               href="/contact/{{ contact.id }}/delete">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">
                                            <p class="text-center">
                                                Aucun contact pour le moment.
                                            </p>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}