{% extends "layout/base.html" %}

{% block title %} Mes Contacts {% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Mes Contacts</h1>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card shadow-sm">
                            {# {{ contacts | dump }} #}
                            <!-- Commentaire HTML -->
                            <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Prénom</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Tel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                        <td>{{ contact.prenom }}</td>
                                        <td>{{ contact.nom }}</td>
                                        <td>{{ contact.email }}</td>
                                        <td>{{ contact.tel }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}