{% extends "base.html.twig" %}

{% block title %}
    Article
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">Titre de l'article</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="https://picsum.photos/1024/768" alt="">
                </div> <!-- Fin col-md-6 -->
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eligendi hic optio! Consequuntur dolor dolores eligendi enim eveniet illo iusto maiores modi, necessitatibus nisi optio possimus reprehenderit tenetur totam vero!</p>
                </div> <!-- Fin col-md-6 -->
            </div>
        </div>
    </div>

{% endblock %}

