{% extends "base.html.twig" %}

{% block title %}
    ActuNews | Premier site d'actualité en France
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">ActuNews</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container ">
            <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="https://picsum.photos/200/150" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Titre</h5>
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem consectetur corporis ex.</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                                <small class="text-muted">Hugo LIEGEARD</small>
                            </div>
                        </div>
                    </div> <!-- Fin card -->
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="https://picsum.photos/200/150" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Titre</h5>
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem consectetur corporis ex.</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                                <small class="text-muted">Hugo LIEGEARD</small>
                            </div>
                        </div>
                    </div> <!-- Fin card -->
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="https://picsum.photos/200/150" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Titre</h5>
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto autem consectetur corporis ex.</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                                <small class="text-muted">Hugo LIEGEARD</small>
                            </div>
                        </div>
                    </div> <!-- Fin card -->
                </div>
            </div>
        </div> <!-- Fin container -->
    </div>
{% endblock %}
