
<form #f="ngForm" (ngSubmit)="submitContact(); f.reset()">

  <!--
    Grâce à la variable locale #f
    je peux connaitre l'état de
    validation du formulaire.
  -->

  <h5 class="text-center m-4">
    Ajouter un Contact
  </h5>

  <!--<pre>
    {{ f.valid }}
    {{ nouveauContact | json }}
  </pre>-->

  <!-- Champ name -->
  <div class="form-group">
    <input type="text"
           name="name"
           #name="ngModel"
           [(ngModel)]="nouveauContact.name"
           [class.is-invalid]="name.touched && name.invalid"
           [class.is-valid]="name.valid"
           required
           placeholder="Saisissez le nom complet."
           class="form-control">
    <div class="invalid-feedback">
      Vous devez saisir votre nom complet.
    </div>
  </div> <!-- /.form-group -->

  <!-- Champ username -->
  <div class="form-group">
    <input type="text"
           name="username"
           #username="ngModel"
           [(ngModel)]="nouveauContact.username"
           [class.is-invalid]="username.touched && username.invalid"
           [class.is-valid]="username.valid"
           required
           placeholder="Saisissez le pseudo."
           class="form-control">
    <div class="invalid-feedback">
      Vous devez saisir votre pseudo.
    </div>
  </div> <!-- /.form-group -->

  <!-- Champ email -->
  <div class="form-group">
    <input type="email"
           name="email"
           #email="ngModel"
           [(ngModel)]="nouveauContact.email"
           [class.is-invalid]="email.touched && email.invalid"
           [class.is-valid]="email.valid"
           required
           placeholder="Saisissez l'email."
           class="form-control">
    <div class="invalid-feedback">
      Vous devez saisir votre email.
    </div>
  </div> <!-- /.form-group -->

  <button
    [disabled]="f.invalid"
    class="btn btn-block btn-dark">
    Créer le contact
  </button>

</form>
