
<form>

  <h5 class="text-center m-4">
    Ajouter un Contact
  </h5>

  <!-- Champ name -->
  <div class="form-group">
    <input type="text"
           name="name"
           placeholder="Saisissez le nom complet."
           class="form-control">
  </div> <!-- /.form-group -->

  <!-- Champ username -->
  <div class="form-group">
    <input type="text"
           name="username"
           placeholder="Saisissez le pseudo."
           class="form-control">
  </div> <!-- /.form-group -->

  <!-- Champ email -->
  <div class="form-group">
    <input type="email"
           name="email"
           placeholder="Saisissez l'email."
           class="form-control">
  </div> <!-- /.form-group -->

  <button class="btn btn-block btn-dark">
    Créer le contact
  </button>

</form>
