<!--<h1>{{ title }}</h1>

<h3>
  {{ unContact.name }}
  <small>
    {{ unContact.username }}
  </small>
</h3>-->

<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          {{ title }}
        </a>
      </div> <!-- /.navbar-header -->
    </nav> <!-- /.nav -->
  </header> <!-- /.header -->

  <div class="row">

    <!-- Liste des contacts -->
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#"
           *ngFor="let contact of mesContacts"
           (click)="displayProfil( contact )"
           [class.active]="contactActif === contact"
           class="list-group-item list-group-item-action">
          {{ contact.name }}
        </a>
      </div> <!-- /.list-group -->

      <app-new (newContactEvent)="addContact($event)"></app-new>

    </div> <!-- /.col-sm-4 -->

    <!-- Profil de mon utilisateur -->
    <div class="col-sm-8">

      <app-profil [contactProfil]="contactActif"></app-profil>

    </div> <!-- /.col-sm-8 -->
  </div> <!-- /.row -->

</div> <!-- /.container -->
