<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">ActuNews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ request.getBasePath() }}">Accueil</a>
                </li>
                {% for categorie in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ request.getBasePath() ~ '/default/category?id=' ~ categorie.id }}">
                            {{ categorie.nom }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>